In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/Otaghak_RoomPrices.csv')

In [3]:
df.head()

,Id,CreatedOn,UpdatedOn,CreatedBy,UpdatedBy,IsActive,RoomId,BasePrice,WeekendPrice,SummerPrice,HolidayPrice,ExtraPersonPrice,NowruzPrice,IsArchived
0,561875,2022-08-18 16:40:41.6907501,2023-04-15 21:20:22.8283734,2464377,2464377.0,0,2402968,6070000.0,6070000.0,6070000.0,6070000.0,1000000.0,6070000.0,1
1,648831,2022-10-25 13:20:37.5251804,NaN,1895283,NaN,1,2397594,4000000.0,7000000.0,8000000.0,10000000.0,1000000.0,15000000.0,0
2,562743,2022-08-19 17:32:41.0912386,2022-08-19 17:33:37.5213214,2439964,2439964.0,0,2404059,20000000.0,25000000.0,25000000.0,25000000.0,1000000.0,25000000.0,1
3,1442251,2024-03-24 01:12:58.5511555,2024-03-24 01:12:58.7437577,3164208,3164208.0,0,2441290,0.0,0.0,0.0,0.0,0.0,0.0,1
4,91038,2021-06-18 16:33:01.6863011,2021-06-18 16:33:45.1474835,1659871,1659871.0,0,2386600,7500000.0,7600000.0,7500000.0,7550000.0,500000.0,8000000.0,1

In [4]:
df.isna().sum()

Id                   0
CreatedOn            0
UpdatedOn           55
CreatedBy            0
UpdatedBy           55
IsActive             0
RoomId               0
BasePrice            0
WeekendPrice         0
SummerPrice          0
HolidayPrice         0
ExtraPersonPrice     0
NowruzPrice          0
IsArchived           0
dtype: int64

In [5]:
df.shape

(1000, 14)

In [6]:
df['UpdatedOn'] = df.UpdatedOn.fillna('0')

In [7]:
df['UpdatedBy'] = df.UpdatedBy.fillna('0')

In [8]:
df.dtypes

Id                    int64
CreatedOn            object
UpdatedOn            object
CreatedBy             int64
UpdatedBy            object
IsActive              int64
RoomId                int64
BasePrice           float64
WeekendPrice        float64
SummerPrice         float64
HolidayPrice        float64
ExtraPersonPrice    float64
NowruzPrice         float64
IsArchived            int64
dtype: object

In [9]:
df.isna().sum()

Id                  0
CreatedOn           0
UpdatedOn           0
CreatedBy           0
UpdatedBy           0
IsActive            0
RoomId              0
BasePrice           0
WeekendPrice        0
SummerPrice         0
HolidayPrice        0
ExtraPersonPrice    0
NowruzPrice         0
IsArchived          0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
df.head(10)

,Id,CreatedOn,UpdatedOn,CreatedBy,UpdatedBy,IsActive,RoomId,BasePrice,WeekendPrice,SummerPrice,HolidayPrice,ExtraPersonPrice,NowruzPrice,IsArchived
0,561875,2022-08-18 16:40:41.6907501,2023-04-15 21:20:22.8283734,2464377,2464377.0,0,2402968,6070000.0,6070000.0,6070000.0,6070000.0,1000000.0,6070000.0,1
1,648831,2022-10-25 13:20:37.5251804,0,1895283,0,1,2397594,4000000.0,7000000.0,8000000.0,10000000.0,1000000.0,15000000.0,0
2,562743,2022-08-19 17:32:41.0912386,2022-08-19 17:33:37.5213214,2439964,2439964.0,0,2404059,20000000.0,25000000.0,25000000.0,25000000.0,1000000.0,25000000.0,1
3,1442251,2024-03-24 01:12:58.5511555,2024-03-24 01:12:58.7437577,3164208,3164208.0,0,2441290,0.0,0.0,0.0,0.0,0.0,0.0,1
4,91038,2021-06-18 16:33:01.6863011,2021-06-18 16:33:45.1474835,1659871,1659871.0,0,2386600,7500000.0,7600000.0,7500000.0,7550000.0,500000.0,8000000.0,1
5,484774,2022-06-20 17:03:25.8557690,0,1659878,0,1,2388473,8500000.0,11000000.0,12000000.0,15000000.0,1500000.0,15000000.0,0
6,275087,2022-01-27 00:48:59.9581628,0,1992774,0,1,2392739,9000000.0,9000000.0,15000000.0,20000000.0,1000000.0,25000000.0,0
7,710607,2023-01-03 22:11:50.3639568,2023-01-04 11:56:20.0112949,2718498,2718498.0,0,2409832,18000000.0,22000000.0,2500000.0,2000000.0,3000000.0,3000000.0,1
8,516668,2022-07-16 12:19:25.0124625,2022-09-04 22:13:48.5356159,1199577,1199577.0,0,136868,7200000.0,8000000.0,8000000.0,8900000.0,1350000.0,8000000.0,1
9,1374348,2024-02-24 17:02:37.4300959,2024-02-24 18:52:18.8984293,2895057,2895057.0,0,2418538,8000000.0,8500000.0,15000000.0,13000000.0,3000000.0,30000000.0,1

In [12]:
df.groupby('UpdatedBy')['NowruzPrice'].max()

UpdatedBy
1193753.0    110000000.0
1194486.0      6000000.0
1194550.0     50000000.0
1194551.0      5500000.0
1194637.0      6500000.0
                ...
3317342.0            0.0
3317580.0     45000000.0
3318613.0     50000000.0
3354594.0     15000000.0
0            110000000.0
Name: NowruzPrice, Length: 694, dtype: float64

In [13]:
df.groupby('UpdatedBy')['HolidayPrice'].max()

UpdatedBy
1193753.0    110000000.0
1194486.0      6000000.0
1194550.0     40000000.0
1194551.0      5000000.0
1194637.0     10000000.0
                ...
3317342.0            0.0
3317580.0     30000000.0
3318613.0     40000000.0
3354594.0     12000000.0
0             90000000.0
Name: HolidayPrice, Length: 694, dtype: float64

In [14]:
df.groupby('UpdatedBy')['BasePrice'].max()

UpdatedBy
1193753.0    55000000.0
1194486.0     3000000.0
1194550.0    20000000.0
1194551.0     3300000.0
1194637.0     6500000.0
                ...
3317342.0           0.0
3317580.0    19000000.0
3318613.0    25000000.0
3354594.0     8000000.0
0            60000000.0
Name: BasePrice, Length: 694, dtype: float64

In [15]:
df.dtypes

Id                    int64
CreatedOn            object
UpdatedOn            object
CreatedBy             int64
UpdatedBy            object
IsActive              int64
RoomId                int64
BasePrice           float64
WeekendPrice        float64
SummerPrice         float64
HolidayPrice        float64
ExtraPersonPrice    float64
NowruzPrice         float64
IsArchived            int64
dtype: object

In [17]:
df['Updated_By'] = df.UpdatedBy.str.split('.').str[0]

In [21]:
df['Updated_By'] = df.UpdatedBy.astype('int')

In [23]:
df.head()

,Id,CreatedOn,UpdatedOn,CreatedBy,UpdatedBy,IsActive,RoomId,BasePrice,WeekendPrice,SummerPrice,HolidayPrice,ExtraPersonPrice,NowruzPrice,IsArchived,Updated_By
0,561875,2022-08-18 16:40:41.6907501,2023-04-15 21:20:22.8283734,2464377,2464377.0,0,2402968,6070000.0,6070000.0,6070000.0,6070000.0,1000000.0,6070000.0,1,2464377
1,648831,2022-10-25 13:20:37.5251804,0,1895283,0,1,2397594,4000000.0,7000000.0,8000000.0,10000000.0,1000000.0,15000000.0,0,0
2,562743,2022-08-19 17:32:41.0912386,2022-08-19 17:33:37.5213214,2439964,2439964.0,0,2404059,20000000.0,25000000.0,25000000.0,25000000.0,1000000.0,25000000.0,1,2439964
3,1442251,2024-03-24 01:12:58.5511555,2024-03-24 01:12:58.7437577,3164208,3164208.0,0,2441290,0.0,0.0,0.0,0.0,0.0,0.0,1,3164208
4,91038,2021-06-18 16:33:01.6863011,2021-06-18 16:33:45.1474835,1659871,1659871.0,0,2386600,7500000.0,7600000.0,7500000.0,7550000.0,500000.0,8000000.0,1,1659871

In [24]:
df = df.drop(['UpdatedBy'], axis = 1)

In [25]:
df.head()

,Id,CreatedOn,UpdatedOn,CreatedBy,IsActive,RoomId,BasePrice,WeekendPrice,SummerPrice,HolidayPrice,ExtraPersonPrice,NowruzPrice,IsArchived,Updated_By
0,561875,2022-08-18 16:40:41.6907501,2023-04-15 21:20:22.8283734,2464377,0,2402968,6070000.0,6070000.0,6070000.0,6070000.0,1000000.0,6070000.0,1,2464377
1,648831,2022-10-25 13:20:37.5251804,0,1895283,1,2397594,4000000.0,7000000.0,8000000.0,10000000.0,1000000.0,15000000.0,0,0
2,562743,2022-08-19 17:32:41.0912386,2022-08-19 17:33:37.5213214,2439964,0,2404059,20000000.0,25000000.0,25000000.0,25000000.0,1000000.0,25000000.0,1,2439964
3,1442251,2024-03-24 01:12:58.5511555,2024-03-24 01:12:58.7437577,3164208,0,2441290,0.0,0.0,0.0,0.0,0.0,0.0,1,3164208
4,91038,2021-06-18 16:33:01.6863011,2021-06-18 16:33:45.1474835,1659871,0,2386600,7500000.0,7600000.0,7500000.0,7550000.0,500000.0,8000000.0,1,1659871

In [27]:
df = df.loc[df['Updated_By'] == 1193753, :]

In [28]:
df

,Id,CreatedOn,UpdatedOn,CreatedBy,IsActive,RoomId,BasePrice,WeekendPrice,SummerPrice,HolidayPrice,ExtraPersonPrice,NowruzPrice,IsArchived,Updated_By
22,1080381,2023-07-19 14:12:31.2262682,2023-07-19 14:12:43.0580566,1193753,0,2425019,9800000.0,9800000.0,9800000.0,17100000.0,3200000.0,17100000.0,1,1193753
32,484103,2022-06-20 12:17:58.5518908,2022-06-20 12:19:29.0658620,1193753,0,2400946,20000000.0,31000000.0,40000000.0,55500000.0,2000000.0,90000000.0,1,1193753
46,354130,2022-03-20 11:47:59.0547080,2022-03-20 11:48:07.3189019,1193753,0,2394775,7000000.0,10000000.0,10000000.0,13000000.0,1000000.0,15000000.0,1,1193753
61,1066480,2023-07-10 15:01:48.0229993,2023-07-11 07:45:39.7819297,1808331,0,2392508,6000000.0,8000000.0,8000000.0,8000000.0,1000000.0,12000000.0,1,1193753
91,476201,2022-06-13 16:51:36.6845798,2022-06-13 16:52:41.1788215,1193753,0,2398638,12000000.0,20000000.0,15000000.0,20000000.0,800000.0,20000000.0,1,1193753
102,1036502,2023-06-21 15:12:14.8085635,2023-06-21 15:12:28.0509790,1193753,0,2424055,22500000.0,28500000.0,22500000.0,28500000.0,4000000.0,22500000.0,1,1193753
115,981849,2023-05-21 12:20:03.6504565,2023-05-21 12:20:38.7240270,1193753,0,2421311,12000000.0,13000000.0,18000000.0,18000000.0,1000000.0,25000000.0,1,1193753
119,298085,2022-02-18 00:25:41.7544263,2022-02-23 14:06:41.0235028,2090916,0,2393244,6500000.0,7500000.0,10000000.0,12000000.0,1000000.0,12000000.0,1,1193753
132,1066351,2023-07-10 13:54:49.7775657,2023-07-10 14:51:43.9178145,2691306,0,2424904,8000000.0,10000000.0,10000000.0,15000000.0,1000000.0,20000000.0,1,1193753
169,540061,2022-08-02 10:26:53.9589421,2022-08-02 10:27:02.8125381,1193753,0,2402892,13000000.0,15000000.0,13000000.0,18000000.0,500000.0,30000000.0,1,1193753
210,498294,2022-07-02 14:05:22.4602903,2022-07-02 14:05:47.1112369,1193753,0,2401394,11900000.0,14900000.0,14900000.0,19800000.0,1900000.0,19800000.0,1,1193753
215,313496,2022-02-26 15:10:15.9226849,2022-02-26 15:10:30.8389084,1193753,0,2393310,6700000.0,8000000.0,8000000.0,8000000.0,150000.0,8000000.0,1,1193753
216,919136,2023-04-20 09:41:19.0935181,2023-08-14 09:15:01.6691036,2695741,0,2408934,10000000.0,15000000.0,25000000.0,25000000.0,3000000.0,25000000.0,1,1193753
243,948772,2023-05-03 16:24:28.3370835,2023-05-03 16:24:32.0912248,1193753,0,2417831,15000000.0,20000000.0,20000000.0,20000000.0,2500000.0,30000000.0,1,1193753
253,1152358,2023-09-03 16:54:01.6233969,2023-09-03 16:54:03.9022949,1193753,0,2428031,6000000.0,8000000.0,6000000.0,12000000.0,700000.0,12000000.0,1,1193753
257,955855,2023-05-07 12:39:29.8750620,2023-05-07 12:39:33.3273803,1193753,0,2417728,17000000.0,20000000.0,20000000.0,25000000.0,2000000.0,30000000.0,1,1193753
294,467425,2022-06-07 11:12:15.4382257,2022-06-07 11:12:26.0149601,1193753,0,2399576,11000000.0,14000000.0,12000000.0,25000000.0,1000000.0,30000000.0,1,1193753
295,1066157,2023-07-10 12:54:34.3286833,2023-07-10 13:59:26.5879874,1743845,0,2394735,55000000.0,58000000.0,55000000.0,110000000.0,3500000.0,110000000.0,1,1193753
304,313412,2022-02-26 14:45:36.0116876,2022-02-26 14:45:37.8794283,1193753,0,2393697,5500000.0,6500000.0,10000000.0,15000000.0,1500000.0,15000000.0,1,1193753
374,292580,2022-02-13 12:49:41.5695942,2022-02-13 12:49:59.7180718,1193753,0,2392869,7000000.0,9900000.0,9900000.0,9900000.0,1000000.0,12000000.0,1,1193753
399,1090886,2023-07-26 14:23:22.1423115,2023-07-26 14:23:26.3297001,1193753,0,2425867,7500000.0,8500000.0,7500000.0,9000000.0,1200000.0,9500000.0,1,1193753
416,265921,2022-01-17 16:34:47.1199665,2022-01-17 16:37:22.5382215,1193753,0,2391293,37000000.0,52000000.0,65000000.0,72000000.0,2000000.0,72000000.0,1,1193753
424,258162,2022-01-09 12:03:19.9565602,2022-01-09 12:03:22.4818677,1193753,0,2391876,5000000.0,8000000.0,8000000.0,8000000.0,1000000.0,10000000.0,1,1193753
471,207868,2021-11-17 11:41:01.2623485,2021-11-17 13:46:27.5403188,1193753,0,2390843,22000000.0,50000000.0,35000000.0,50000000.0,1500000.0,35000000.0,1,1193753
500,206268,2021-11-15 14:50:56.1912137,2021-11-15 14:50:59.8073622,1193753,0,2390768,3800000.0,3800000.0,3800000.0,3800000.0,500000.0,4500000.0,1,1193753
501,313436,2022-02-26 14:51:34.0943604,2022-02-28 11:45:55.9859845,2107521,0,2393736,5400000.0,5400000.0,5400000.0,5400000.0,2000000.0,10800000.0,1,1193753
580,1030379,2023-06-18 10:48:25.1200020,2023-06-18 10:48:58.1857085,1193753,0,2423518,25000000.0,30000000.0,30000000.0,30000000.0,4500000.0,30000000.0,1,1193753
589,1131781,2023-08-22 11:54:48.5494436,2023-08-22 12:10:04.3819273,1193753,0,2427598,32000000.0,35000000.0,35000000.0,35000000.0,1000000.0,35000000.0,1,1193753
671,309713,2022-02-23 13:46:34.8645410,2022-02-23 13:46:36.6173864,1193753,0,2393334,6000000.0,6700000.0,8000000.0,7800000.0,600000.0,18400000.0,1,1193753
673,208139,2021-11-17 16:06:01.3887528,2021-11-17 16:06:05.4063304,1193753,0,2390798,7500000.0,8500000.0,7500000.0,8500000.0,1000000.0,8500000.0,1,1193753
693,478342,2022-06-15 12:16:30.4650041,2022-06-15 12:16:37.6354374,1193753,0,2398100,4500000.0,5500000.0,5500000.0,6000000.0,1000000.0,15000000.0,1,1193753
744,193728,2021-11-01 17:17:49.4892341,2021-11-01 17:18:16.7517180,1193753,0,2390268,9000000.0,12000000.0,15000000.0,18000000.0,2500000.0,25000000.0,1,1193753
764,963359,2023-05-10 15:42:12.8248567,2023-05-10 16:34:37.1689065,1830566,0,2418852,7500000.0,8500000.0,12000000.0,10000000.0,1000000.0,12000000.0,1,1193753
779,469162,2022-06-08 12:14:09.0112182,2022-06-08 12:14:16.3869051,1193753,0,2397518,9000000.0,10000000.0,13500000.0,12000000.0,500000.0,15000000.0,1,1193753
794,1018267,2023-06-10 12:40:32.7977879,2023-06-10 12:40:35.1622023,1193753,0,2421923,25000000.0,30000000.0,30000000.0,30000000.0,200000.0,35000000.0,1,1193753
913,407065,2022-04-26 11:46:16.7936281,2022-04-26 11:46:30.5259149,1193753,0,2397827,4000000.0,5000000.0,6000000.0,6000000.0,1000000.0,7000000.0,1,1193753
922,1095346,2023-07-30 12:27:13.4247002,2023-07-31 08:31:36.5729092,2953855,0,2426179,8000000.0,9500000.0,11000000.0,15000000.0,1000000.0,20000000.0,1,1193753
979,281664,2022-02-02 11:36:47.9572896,2022-02-02 11:39:00.9336341,1193753,0,2392914,6800000.0,7500000.0,6500000.0,8000000.0,500000.0,8000000.0,1,1193753

In [29]:
df.shape

(38, 14)

In [32]:
df.groupby('RoomId')['NowruzPrice'].max()

RoomId
2390268     25000000.0
2390768      4500000.0
2390798      8500000.0
2390843     35000000.0
2391293     72000000.0
2391876     10000000.0
2392508     12000000.0
2392869     12000000.0
2392914      8000000.0
2393244     12000000.0
2393310      8000000.0
2393334     18400000.0
2393697     15000000.0
2393736     10800000.0
2394735    110000000.0
2394775     15000000.0
2397518     15000000.0
2397827      7000000.0
2398100     15000000.0
2398638     20000000.0
2399576     30000000.0
2400946     90000000.0
2401394     19800000.0
2402892     30000000.0
2408934     25000000.0
2417728     30000000.0
2417831     30000000.0
2418852     12000000.0
2421311     25000000.0
2421923     35000000.0
2423518     30000000.0
2424055     22500000.0
2424904     20000000.0
2425019     17100000.0
2425867      9500000.0
2426179     20000000.0
2427598     35000000.0
2428031     12000000.0
Name: NowruzPrice, dtype: float64

In [33]:
df.groupby('RoomId')['HolidayPrice'].max()

RoomId
2390268     18000000.0
2390768      3800000.0
2390798      8500000.0
2390843     50000000.0
2391293     72000000.0
2391876      8000000.0
2392508      8000000.0
2392869      9900000.0
2392914      8000000.0
2393244     12000000.0
2393310      8000000.0
2393334      7800000.0
2393697     15000000.0
2393736      5400000.0
2394735    110000000.0
2394775     13000000.0
2397518     12000000.0
2397827      6000000.0
2398100      6000000.0
2398638     20000000.0
2399576     25000000.0
2400946     55500000.0
2401394     19800000.0
2402892     18000000.0
2408934     25000000.0
2417728     25000000.0
2417831     20000000.0
2418852     10000000.0
2421311     18000000.0
2421923     30000000.0
2423518     30000000.0
2424055     28500000.0
2424904     15000000.0
2425019     17100000.0
2425867      9000000.0
2426179     15000000.0
2427598     35000000.0
2428031     12000000.0
Name: HolidayPrice, dtype: float64

In [34]:
df.groupby('RoomId')['BasePrice'].max()

RoomId
2390268     9000000.0
2390768     3800000.0
2390798     7500000.0
2390843    22000000.0
2391293    37000000.0
2391876     5000000.0
2392508     6000000.0
2392869     7000000.0
2392914     6800000.0
2393244     6500000.0
2393310     6700000.0
2393334     6000000.0
2393697     5500000.0
2393736     5400000.0
2394735    55000000.0
2394775     7000000.0
2397518     9000000.0
2397827     4000000.0
2398100     4500000.0
2398638    12000000.0
2399576    11000000.0
2400946    20000000.0
2401394    11900000.0
2402892    13000000.0
2408934    10000000.0
2417728    17000000.0
2417831    15000000.0
2418852     7500000.0
2421311    12000000.0
2421923    25000000.0
2423518    25000000.0
2424055    22500000.0
2424904     8000000.0
2425019     9800000.0
2425867     7500000.0
2426179     8000000.0
2427598    32000000.0
2428031     6000000.0
Name: BasePrice, dtype: float64