In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/content/Otaghak_Bookings.csv')

In [5]:
df.head()

,Id,BookingStatus,CreatedBy,FullName,RequestDateTime,RoomId,FromDateTime,ToDateTime,PersonCount,ExtraPersonCount,...,GuestRefundType,CheckInDateTime,PayByEtebar,IsNightlyBooking,HasCompensation,CompensationDescription,ToRialExchangeRate,CurrencyId,LastFourCharactersOfCard,FailedReason
0,2893292,14,2258726,فاطمه وفادار,2022-05-01 14:31:44.6703234 +04:30,2389755,2022-05-05 00:00:00.0000000 +04:30,2022-05-06 00:00:00.0000000 +04:30,10,0,...,0,2022-05-05 14:00:00.0000000 +04:30,0.0,0,0,NaN,1.0,1,NaN,NaN
1,3473796,12,2247925,رضا ریزوندی,2022-12-23 17:18:59.1417442 +03:30,2408540,2022-12-29 00:00:00.0000000 +03:30,2022-12-30 00:00:00.0000000 +03:30,2,0,...,0,2022-12-29 15:00:00.0000000 +03:30,0.0,0,0,NaN,1.0,1,NaN,NaN
2,2078870,14,1378354,حمید رضا خدایی,2020-05-31 17:08:26.1833470 +04:30,1661241,2020-06-21 00:00:00.0000000 +04:30,2020-06-23 00:00:00.0000000 +04:30,4,0,...,0,2020-06-21 14:00:00.0000000 +00:00,0.0,0,0,NaN,1.0,1,NaN,NaN
3,3917618,12,2655917,امیر مرادی,2024-02-13 16:40:47.9545680 +03:30,2396178,2024-03-09 00:00:00.0000000 +03:30,2024-03-10 00:00:00.0000000 +03:30,2,0,...,0,2024-03-09 14:00:00.0000000 +03:30,0.0,0,0,NaN,1.0,1,NaN,NaN
4,3242797,1,1723705,احسان منتظری,2022-09-04 14:26:17.0389777 +04:30,2401942,2022-09-11 00:00:00.0000000 +04:30,2022-09-15 00:00:00.0000000 +04:30,2,0,...,0,2022-09-11 14:00:00.0000000 +04:30,0.0,0,0,NaN,1.0,1,NaN,NaN

In [7]:
pd.set_option('display.max_rows', 500, 'display.max_columns', 100)

In [8]:
df

,Id,BookingStatus,CreatedBy,FullName,RequestDateTime,RoomId,FromDateTime,ToDateTime,PersonCount,ExtraPersonCount,IsInstantBooking,CouponId,CouponDiscountValue,CouponDiscountAmount,ExtraPersonAmount,TotalAmount,TotalDiscountAmount,TotalPaymentAmount,HostShareAmount,AffiliateCommissionAmount,PayByCredit,PayByGift,PayByGateway,ReferenceId,BookingCode,HostId,Notes,Description,RefundDescription,CancelTypeId,CancelReason,HostReturnPayment,GuestReturnPayment,RefundAllToGuest,CompanyId,UtmSource,GuestId,NationalCode,Email,CellPhone,Tax,RequestId,GuestPaymentTime,HostDeadLineTime,LastModified,CreatedOn,UpdatedOn,UpdatedBy,GeneratedBy,IsActive,IsArchived,HostDiscountAmount,MarkupAmount,PaymentGatewayId,IsPrimeBooking,CashBackGiftAmount,HasNonCashGift,HasRecivedCashBackGift,GuestRefundType,CheckInDateTime,PayByEtebar,IsNightlyBooking,HasCompensation,CompensationDescription,ToRialExchangeRate,CurrencyId,LastFourCharactersOfCard,FailedReason
0,2893292,14,2258726,فاطمه وفادار,2022-05-01 14:31:44.6703234 +04:30,2389755,2022-05-05 00:00:00.0000000 +04:30,2022-05-06 00:00:00.0000000 +04:30,10,0,0,NaN,0.0,0.0,0.0,15000000.0,0.0,15000000.0,13500000.0,0.0,0.0,0.0,15000000.0,NaN,NaN,1936179,NaN,NaN,NaN,4,16.0,0.0,0.0,0,1,NaN,1516528.0,4670261924,NaN,9.358860e+09,0.0,1081329,2022-05-01 15:35:07.5505359 +04:30,2022-05-01 15:31:49.1311100 +04:30,2022-05-01 15:35:15.4920266 +04:30,2022-05-01 14:31:44.6745999,2022-05-01 15:35:17.3304586,1220443.0,0,0,0,0.0,0.0,NaN,0,0.0,0,0,0,2022-05-05 14:00:00.0000000 +04:30,0.0,0,0,NaN,1.0,1,NaN,NaN
1,3473796,12,2247925,رضا ریزوندی,2022-12-23 17:18:59.1417442 +03:30,2408540,2022-12-29 00:00:00.0000000 +03:30,2022-12-30 00:00:00.0000000 +03:30,2,0,1,NaN,0.0,0.0,0.0,6700000.0,0.0,6700000.0,6030000.0,0.0,0.0,0.0,6700000.0,NaN,NaN,1953344,NaN,NaN,Archived by guest,4,0.0,0.0,0.0,0,1,NaN,NaN,NaN,NaN,9.337293e+09,0.0,1761717,NaN,NaN,2022-12-23 17:31:13.9910343 +03:30,2022-12-23 17:18:59.1445367,2022-12-23 17:31:13.9918488,2247925.0,0,0,1,0.0,0.0,NaN,0,0.0,0,0,0,2022-12-29 15:00:00.0000000 +03:30,0.0,0,0,NaN,1.0,1,NaN,NaN
2,2078870,14,1378354,حمید رضا خدایی,2020-05-31 17:08:26.1833470 +04:30,1661241,2020-06-21 00:00:00.0000000 +04:30,2020-06-23 00:00:00.0000000 +04:30,4,0,0,NaN,0.0,0.0,0.0,1800000.0,0.0,1800000.0,1620000.0,0.0,0.0,0.0,1800000.0,NaN,936221ba38,1274447,مرضیه تماس باامهمان,NaN,NaN,3,13.0,0.0,0.0,0,1,NaN,1376454.0,4569928129,NaN,9.371974e+09,0.0,149383,2020-05-31 19:10:22.2921494 +04:30,2020-05-31 20:08:38.9558472 +04:30,2020-05-31 19:11:00.8226923 +04:30,2020-05-31 17:08:26.1852114,2020-05-31 19:11:00.8306657,1220443.0,0,0,0,0.0,0.0,NaN,0,0.0,0,0,0,2020-06-21 14:00:00.0000000 +00:00,0.0,0,0,NaN,1.0,1,NaN,NaN
3,3917618,12,2655917,امیر مرادی,2024-02-13 16:40:47.9545680 +03:30,2396178,2024-03-09 00:00:00.0000000 +03:30,2024-03-10 00:00:00.0000000 +03:30,2,0,1,NaN,0.0,0.0,0.0,15150000.0,0.0,15150000.0,13500000.0,0.0,0.0,0.0,15150000.0,NaN,NaN,1784938,NaN,NaN,Archived by guest,3,0.0,0.0,0.0,0,1,NaN,NaN,NaN,NaN,9.381493e+09,0.0,2405147,NaN,NaN,2024-02-13 16:40:58.2755911 +03:30,2024-02-13 16:40:47.9587584,2024-02-13 16:40:58.2768992,2655917.0,0,0,1,0.0,150000.0,NaN,0,0.0,0,0,0,2024-03-09 14:00:00.0000000 +03:30,0.0,0,0,NaN,1.0,1,NaN,NaN
4,3242797,1,1723705,احسان منتظری,2022-09-04 14:26:17.0389777 +04:30,2401942,2022-09-11 00:00:00.0000000 +04:30,2022-09-15 00:00:00.0000000 +04:30,2,0,0,NaN,0.0,0.0,0.0,22400000.0,0.0,22400000.0,20160000.0,0.0,0.0,0.0,22400000.0,NaN,NaN,2420833,NaN,NaN,NaN,4,NaN,0.0,0.0,0,1,NaN,NaN,NaN,NaN,9.153223e+09,0.0,1485060,NaN,NaN,2022-09-04 14:26:17.0389678 +04:30,2022-09-04 14:26:17.0415556,NaN,NaN,0,0,0,0.0,0.0,NaN,0,0.0,0,0,0,2022-09-11 14:00:00.0000000 +04:30,0.0,0,0,NaN,1.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1008404,12,1346856,علی احمدی,2019-04-19 14:10:05.8600000 +04:30,6089,2019-04-19 12:00:00.0000000 +04:30,2019-04-20 12:00:00.0000000 +04:30,1,0,1,NaN,0.0,0.0,0.0,3000000.0,0.0,3000000.0,2700000.0,0.0,0.0,0.0,3000000.0,NaN,EK88ZN65NQ,1200189,NaN,NaN,NaN,3,0.0,0.0,0.0,0,1,NaN,1346856.0,NaN,NaN,9.037365e+09,0.0,123428,NaN,NaN,2019-04-19 14:10:06.0500000 +04:30,2020-05-26 14:04:32.0190081,NaN,1346856.0,6,1,0,0.0,0.0,NaN,0,0.0,0,0,0,2019-04-20 02:00:00.0000000 +00:00,0.0,0,0,NaN,1.0,1,NaN,NaN
996,2543653,4,1954670,roozbeh karimi,2021-10-24 00:01:37.3945391 +03:30,575462,2021-10-24 00:00:00.0000000 +03:30,2021-10-25 00:00:00.0000000 +03:30,2,0,0,NaN,0.0,0.0,0.0,2800000.0,0.0,2800000.0,2520000.0,0.0,0.0,0.0,2800000.0,NaN,NaN,1306990,NaN,NaN,NaN,3,6.0,0.0,0.0,0,1,NaN,1461132.0,1740759486,NaN,9.368588e+09,0.0,679527,NaN,2021-10-24 10:00:00.0000000 +03:30,2021-10-24 10:02:08.3059384 +03:30,2021-10-24 00:01:37.3978349,2021-10-24 10:02:08.3428645,1220443.0,0,0,0,0.0,0.0,NaN,0,0.0,0,0,0,2021-10-24 14:00:00.0000000 +00:00,0.0,0,0,NaN,1.0,1,NaN,NaN
997,3630307,1,1342158,علی شورگشتی,2023-04-20 17:52:15.5326773 +03:30,2411032,2023-04-21 00:00:00.0000000 +03:30,2023-04-23 00:00:00.0000000 +03:30,2,1,0,NaN,0.0,0.0,2020000.0,16160000.0,0.0,16160000.0,14400000.0,0.0,0.0,0.0,16160000.0,NaN,NaN,2742327,NaN,NaN,NaN,4,NaN,0.0,0.0,0,1,NaN,NaN,NaN,NaN,9.356345e+09,0.0,1990839,NaN,NaN,2023-04-20 17:52:15.5326723 +03:30,2023-04-20 17:52:15.5354436,NaN,NaN,0,0,0,0.0,160000.0,NaN,0,0.0,0,0,0,2023-04-21 14:00:00.0000000 +03:30,0.0,0,0,NaN,1.0,1,NaN,NaN
998,3675459,3,2959317,مهدی رنجبری,2023-05-29 18:22:54.2997089 +03:30,2415732,2023-06-03 00:00:00.0000000 +03:30,2023-06-04 00:00:00.0000000 +03:30,5,2,0,NaN,0.0,0.0,7070000.0,35350000.0,0.0,35350000.0,31500000.0,0.0,0.0,0.0,35350000.0,NaN,NaN,2409418,NaN,NaN,NaN,4,0.0,0.0,0.0,0,1,NaN,1667183.0,1364129353,NaN,9.360552e+09,0.0,2055220,NaN,2023-05-29 19:22:54.3348770 +03:30,2023-05-29 18:23:11.6856971 +03:30,2023-05-29 18:22:54.3041897,2023-05-29 18:23:12.0928710,2959317.0,0,0,0,0.0,350000.0,NaN,0,0.0,0,0,0,2023-06-03 14:00:00.0000000 +03:30,0.0,0,0,NaN,1.0,1,NaN,NaN
999,3082644,1,2432992,معصومه صابری فر,2022-07-14 13:46:34.0521881 +04:30,103759,2022-07-22 00:00:00.0000000 +04:30,2022-07-24 00:00:00.0000000 +04:30,2,0,1,NaN,0.0,0.0,0.0,12000000.0,0.0,12000000.0,10800000.0,0.0,0.0,0.0,12000000.0,NaN,NaN,1199469,NaN,NaN,NaN,1,NaN,0.0,0.0,0,1,NaN,NaN,NaN,NaN,9.137037e+09,0.0,1299337,NaN,NaN,2022-07-14 13:46:34.0521802 +04:30,2022-07-14 13:46:34.0556196,NaN,NaN,0,0,0,0.0,0.0,NaN,0,0.0,0,0,0,2022-07-22 14:30:00.0000000 +04:30,0.0,0,0,NaN,1.0,1,NaN,NaN

In [9]:
df.isna().sum()

Id                              0
BookingStatus                   0
CreatedBy                       0
FullName                       33
RequestDateTime                 0
RoomId                          0
FromDateTime                    0
ToDateTime                      0
PersonCount                     0
ExtraPersonCount                0
IsInstantBooking                0
CouponId                      983
CouponDiscountValue             0
CouponDiscountAmount            0
ExtraPersonAmount               0
TotalAmount                     0
TotalDiscountAmount             0
TotalPaymentAmount              0
HostShareAmount                 0
AffiliateCommissionAmount       0
PayByCredit                     0
PayByGift                       0
PayByGateway                    0
ReferenceId                   834
BookingCode                   775
HostId                          0
Notes                         935
Description                   976
RefundDescription             939
CancelTypeId                    0
CancelReason                  522
HostReturnPayment               0
GuestReturnPayment              0
RefundAllToGuest                0
CompanyId                       0
UtmSource                     991
GuestId                       420
NationalCode                  477
Email                         940
CellPhone                       2
Tax                             0
RequestId                       0
GuestPaymentTime              720
HostDeadLineTime              507
LastModified                    0
CreatedOn                       0
UpdatedOn                     411
UpdatedBy                     361
GeneratedBy                     0
IsActive                        0
IsArchived                      0
HostDiscountAmount              0
MarkupAmount                    0
PaymentGatewayId              847
IsPrimeBooking                  0
CashBackGiftAmount              0
HasNonCashGift                  0
HasRecivedCashBackGift          0
GuestRefundType                 0
CheckInDateTime                 0
PayByEtebar                     0
IsNightlyBooking                0
HasCompensation                 0
CompensationDescription      1000
ToRialExchangeRate              0
CurrencyId                      0
LastFourCharactersOfCard      995
FailedReason                 1000
dtype: int64

In [11]:
df.dtypes

Id                             int64
BookingStatus                  int64
CreatedBy                      int64
FullName                      object
RequestDateTime               object
RoomId                         int64
FromDateTime                  object
ToDateTime                    object
PersonCount                    int64
ExtraPersonCount               int64
IsInstantBooking               int64
CouponId                     float64
CouponDiscountValue          float64
CouponDiscountAmount         float64
ExtraPersonAmount            float64
TotalAmount                  float64
TotalDiscountAmount          float64
TotalPaymentAmount           float64
HostShareAmount              float64
AffiliateCommissionAmount    float64
PayByCredit                  float64
PayByGift                    float64
PayByGateway                 float64
ReferenceId                   object
BookingCode                   object
HostId                         int64
Notes                         object
Description                   object
RefundDescription             object
CancelTypeId                   int64
CancelReason                 float64
HostReturnPayment            float64
GuestReturnPayment           float64
RefundAllToGuest               int64
CompanyId                      int64
UtmSource                     object
GuestId                      float64
NationalCode                  object
Email                         object
CellPhone                    float64
Tax                          float64
RequestId                      int64
GuestPaymentTime              object
HostDeadLineTime              object
LastModified                  object
CreatedOn                     object
UpdatedOn                     object
UpdatedBy                    float64
GeneratedBy                    int64
IsActive                       int64
IsArchived                     int64
HostDiscountAmount           float64
MarkupAmount                 float64
PaymentGatewayId             float64
IsPrimeBooking                 int64
CashBackGiftAmount           float64
HasNonCashGift                 int64
HasRecivedCashBackGift         int64
GuestRefundType                int64
CheckInDateTime               object
PayByEtebar                  float64
IsNightlyBooking               int64
HasCompensation                int64
CompensationDescription      float64
ToRialExchangeRate           float64
CurrencyId                     int64
LastFourCharactersOfCard     float64
FailedReason                 float64
dtype: object

In [17]:
df = df.drop(['CouponId', 'ReferenceId', 'BookingCode','Notes','Description',
                'RefundDescription', 'CancelReason', 'UtmSource', 'Email',
                'GuestPaymentTime','HostDeadLineTime', 'PaymentGatewayId',
                'CompensationDescription','LastFourCharactersOfCard','FailedReason'], axis = 1)

In [18]:
df['FullName'] = df.FullName.fillna('0')

In [19]:
df['GuestId'] = df.GuestId.fillna(df.GuestId.mean())

In [20]:
df['NationalCode'] = df.NationalCode.fillna('0')

In [21]:
df['UpdatedBy'] = df.UpdatedBy.fillna(df.UpdatedBy.mean())

In [22]:
df['UpdatedOn'] = df.UpdatedOn.fillna('0')

In [24]:
df['CellPhone'] = df.CellPhone.fillna(df.CellPhone.mean())

In [25]:
df.isna().sum()

Id                           0
BookingStatus                0
CreatedBy                    0
FullName                     0
RequestDateTime              0
RoomId                       0
FromDateTime                 0
ToDateTime                   0
PersonCount                  0
ExtraPersonCount             0
IsInstantBooking             0
CouponDiscountValue          0
CouponDiscountAmount         0
ExtraPersonAmount            0
TotalAmount                  0
TotalDiscountAmount          0
TotalPaymentAmount           0
HostShareAmount              0
AffiliateCommissionAmount    0
PayByCredit                  0
PayByGift                    0
PayByGateway                 0
HostId                       0
CancelTypeId                 0
HostReturnPayment            0
GuestReturnPayment           0
RefundAllToGuest             0
CompanyId                    0
GuestId                      0
NationalCode                 0
CellPhone                    0
Tax                          0
RequestId                    0
LastModified                 0
CreatedOn                    0
UpdatedOn                    0
UpdatedBy                    0
GeneratedBy                  0
IsActive                     0
IsArchived                   0
HostDiscountAmount           0
MarkupAmount                 0
IsPrimeBooking               0
CashBackGiftAmount           0
HasNonCashGift               0
HasRecivedCashBackGift       0
GuestRefundType              0
CheckInDateTime              0
PayByEtebar                  0
IsNightlyBooking             0
HasCompensation              0
ToRialExchangeRate           0
CurrencyId                   0
dtype: int64

In [26]:
df.duplicated().sum()

0

In [27]:
df.head(10)

,Id,BookingStatus,CreatedBy,FullName,RequestDateTime,RoomId,FromDateTime,ToDateTime,PersonCount,ExtraPersonCount,IsInstantBooking,CouponDiscountValue,CouponDiscountAmount,ExtraPersonAmount,TotalAmount,TotalDiscountAmount,TotalPaymentAmount,HostShareAmount,AffiliateCommissionAmount,PayByCredit,PayByGift,PayByGateway,HostId,CancelTypeId,HostReturnPayment,GuestReturnPayment,RefundAllToGuest,CompanyId,GuestId,NationalCode,CellPhone,Tax,RequestId,LastModified,CreatedOn,UpdatedOn,UpdatedBy,GeneratedBy,IsActive,IsArchived,HostDiscountAmount,MarkupAmount,IsPrimeBooking,CashBackGiftAmount,HasNonCashGift,HasRecivedCashBackGift,GuestRefundType,CheckInDateTime,PayByEtebar,IsNightlyBooking,HasCompensation,ToRialExchangeRate,CurrencyId
0,2893292,14,2258726,فاطمه وفادار,2022-05-01 14:31:44.6703234 +04:30,2389755,2022-05-05 00:00:00.0000000 +04:30,2022-05-06 00:00:00.0000000 +04:30,10,0,0,0.0,0.0,0.0,15000000.0,0.0,15000000.0,13500000.0,0.0,0.0,0.0,15000000.0,1936179,4,0.0,0.0,0,1,1.516528e+06,4670261924,9.358860e+09,0.0,1081329,2022-05-01 15:35:15.4920266 +04:30,2022-05-01 14:31:44.6745999,2022-05-01 15:35:17.3304586,1.220443e+06,0,0,0,0.0,0.0,0,0.0,0,0,0,2022-05-05 14:00:00.0000000 +04:30,0.0,0,0,1.0,1
1,3473796,12,2247925,رضا ریزوندی,2022-12-23 17:18:59.1417442 +03:30,2408540,2022-12-29 00:00:00.0000000 +03:30,2022-12-30 00:00:00.0000000 +03:30,2,0,1,0.0,0.0,0.0,6700000.0,0.0,6700000.0,6030000.0,0.0,0.0,0.0,6700000.0,1953344,4,0.0,0.0,0,1,1.522259e+06,0,9.337293e+09,0.0,1761717,2022-12-23 17:31:13.9910343 +03:30,2022-12-23 17:18:59.1445367,2022-12-23 17:31:13.9918488,2.247925e+06,0,0,1,0.0,0.0,0,0.0,0,0,0,2022-12-29 15:00:00.0000000 +03:30,0.0,0,0,1.0,1
2,2078870,14,1378354,حمید رضا خدایی,2020-05-31 17:08:26.1833470 +04:30,1661241,2020-06-21 00:00:00.0000000 +04:30,2020-06-23 00:00:00.0000000 +04:30,4,0,0,0.0,0.0,0.0,1800000.0,0.0,1800000.0,1620000.0,0.0,0.0,0.0,1800000.0,1274447,3,0.0,0.0,0,1,1.376454e+06,4569928129,9.371974e+09,0.0,149383,2020-05-31 19:11:00.8226923 +04:30,2020-05-31 17:08:26.1852114,2020-05-31 19:11:00.8306657,1.220443e+06,0,0,0,0.0,0.0,0,0.0,0,0,0,2020-06-21 14:00:00.0000000 +00:00,0.0,0,0,1.0,1
3,3917618,12,2655917,امیر مرادی,2024-02-13 16:40:47.9545680 +03:30,2396178,2024-03-09 00:00:00.0000000 +03:30,2024-03-10 00:00:00.0000000 +03:30,2,0,1,0.0,0.0,0.0,15150000.0,0.0,15150000.0,13500000.0,0.0,0.0,0.0,15150000.0,1784938,3,0.0,0.0,0,1,1.522259e+06,0,9.381493e+09,0.0,2405147,2024-02-13 16:40:58.2755911 +03:30,2024-02-13 16:40:47.9587584,2024-02-13 16:40:58.2768992,2.655917e+06,0,0,1,0.0,150000.0,0,0.0,0,0,0,2024-03-09 14:00:00.0000000 +03:30,0.0,0,0,1.0,1
4,3242797,1,1723705,احسان منتظری,2022-09-04 14:26:17.0389777 +04:30,2401942,2022-09-11 00:00:00.0000000 +04:30,2022-09-15 00:00:00.0000000 +04:30,2,0,0,0.0,0.0,0.0,22400000.0,0.0,22400000.0,20160000.0,0.0,0.0,0.0,22400000.0,2420833,4,0.0,0.0,0,1,1.522259e+06,0,9.153223e+09,0.0,1485060,2022-09-04 14:26:17.0389678 +04:30,2022-09-04 14:26:17.0415556,0,1.845290e+06,0,0,0,0.0,0.0,0,0.0,0,0,0,2022-09-11 14:00:00.0000000 +04:30,0.0,0,0,1.0,1
5,2276427,1,1744463,0,2021-03-29 12:20:24.9886092 +04:30,292073,2021-04-06 00:00:00.0000000 +04:30,2021-04-07 00:00:00.0000000 +04:30,2,0,1,0.0,0.0,0.0,1000000.0,0.0,1000000.0,1000000.0,0.0,0.0,0.0,1000000.0,1199384,4,0.0,0.0,0,1,1.522259e+06,0,9.307745e+09,0.0,351884,2021-03-29 12:20:24.9885786 +04:30,2021-03-29 12:20:24.9914505,0,1.845290e+06,0,0,1,0.0,0.0,0,0.0,0,0,0,2021-04-06 14:00:00.0000000 +00:00,0.0,0,0,1.0,1
6,2586886,14,1814385,مرتضی طاهری,2021-11-25 21:54:58.4695622 +03:30,2385656,2021-11-26 00:00:00.0000000 +03:30,2021-11-27 00:00:00.0000000 +03:30,6,0,0,0.0,0.0,0.0,12000000.0,0.0,12000000.0,10800000.0,0.0,0.0,0.0,12000000.0,1214788,3,0.0,0.0,0,1,1.425723e+06,0066459214,9.122122e+09,0.0,729341,2021-11-26 00:34:58.3556297 +03:30,2021-11-25 21:54:58.4741531,2021-11-26 00:34:58.3660506,1.814385e+06,0,0,0,0.0,0.0,0,0.0,0,0,0,2021-11-26 14:00:00.0000000 +00:00,0.0,0,0,1.0,1
7,2737181,1,1914514,مریم اسدی,2022-03-08 15:52:00.2459359 +03:30,2382635,2022-03-10 00:00:00.0000000 +03:30,2022-03-11 00:00:00.0000000 +03:30,2,0,0,0.0,0.0,0.0,7000000.0,0.0,7000000.0,6300000.0,0.0,0.0,0.0,7000000.0,1682396,1,0.0,0.0,0,1,1.522259e+06,0,9.389758e+09,0.0,905008,2022-03-08 15:52:00.2459261 +03:30,2022-03-08 15:52:00.2482423,0,1.845290e+06,0,0,0,0.0,0.0,0,0.0,0,0,0,2022-03-10 14:00:00.0000000 +03:30,0.0,0,0,1.0,1
8,2959281,1,1948923,Amir Khazaee,2022-05-28 16:12:10.6735747 +04:30,2385446,2022-05-28 00:00:00.0000000 +04:30,2022-05-29 00:00:00.0000000 +04:30,1,0,0,0.0,0.0,0.0,6500000.0,0.0,6500000.0,5850000.0,0.0,0.0,0.0,6500000.0,1267434,2,0.0,0.0,0,1,1.522259e+06,0,9.029430e+09,0.0,1157596,2022-05-28 16:12:10.6735648 +04:30,2022-05-28 16:12:10.6761016,0,1.845290e+06,0,0,0,0.0,0.0,0,0.0,0,0,0,2022-05-28 14:00:00.0000000 +04:30,0.0,0,0,1.0,1
9,3517080,4,2748082,مجید میرزایی,2023-02-05 21:48:44.2226934 +03:30,2258627,2023-02-06 00:00:00.0000000 +03:30,2023-02-07 00:00:00.0000000 +03:30,2,0,0,0.0,0.0,0.0,3740000.0,0.0,3740000.0,3330000.0,0.0,0.0,0.0,3740000.0,1626707,3,0.0,0.0,0,1,1.613379e+06,۱۲۸۵۸۹۶۴۳۲,9.364947e+09,0.0,1836817,2023-02-05 21:52:06.0424120 +03:30,2023-02-05 21:48:44.2259767,2023-02-05 21:52:06.2503435,2.748082e+06,0,0,0,0.0,40000.0,0,0.0,0,0,0,2023-02-06 14:00:00.0000000 +03:30,0.0,0,0,1.0,1

In [28]:
df.dtypes

Id                             int64
BookingStatus                  int64
CreatedBy                      int64
FullName                      object
RequestDateTime               object
RoomId                         int64
FromDateTime                  object
ToDateTime                    object
PersonCount                    int64
ExtraPersonCount               int64
IsInstantBooking               int64
CouponDiscountValue          float64
CouponDiscountAmount         float64
ExtraPersonAmount            float64
TotalAmount                  float64
TotalDiscountAmount          float64
TotalPaymentAmount           float64
HostShareAmount              float64
AffiliateCommissionAmount    float64
PayByCredit                  float64
PayByGift                    float64
PayByGateway                 float64
HostId                         int64
CancelTypeId                   int64
HostReturnPayment            float64
GuestReturnPayment           float64
RefundAllToGuest               int64
CompanyId                      int64
GuestId                      float64
NationalCode                  object
CellPhone                    float64
Tax                          float64
RequestId                      int64
LastModified                  object
CreatedOn                     object
UpdatedOn                     object
UpdatedBy                    float64
GeneratedBy                    int64
IsActive                       int64
IsArchived                     int64
HostDiscountAmount           float64
MarkupAmount                 float64
IsPrimeBooking                 int64
CashBackGiftAmount           float64
HasNonCashGift                 int64
HasRecivedCashBackGift         int64
GuestRefundType                int64
CheckInDateTime               object
PayByEtebar                  float64
IsNightlyBooking               int64
HasCompensation                int64
ToRialExchangeRate           float64
CurrencyId                     int64
dtype: object

In [34]:
df.groupby('RoomId')['FullName'].max()

RoomId
3318           کوروش باکنژاد
3433          سید هاشم موسوی
6089               علی احمدی
18045            بهاره کوثری
23712            مرتصی دانشی
                 ...
2438816         مدیسا فرهودی
2441646         امیررضا سیار
2442491    شکوه فامیل معیاری
2445078         محمد منتصری
2447216            reza tiva
Name: FullName, Length: 932, dtype: object

In [38]:
df.groupby('PersonCount')['NationalCode'].max()

PersonCount
1     ۵۸۳۰۰۵۶۰۴۶
2     ۶۱۵۹۴۸۰۷۶۶
3     5970104051
4     ۰۳۷۱۱۶۸۳۸۴
5     ۰۳۱۰۵۴۶۴۲۷
6     ۰۰۲۴۰۳۲۷۲۷
7     4051930955
8     ۱۲۸۴۸۲۴۴۱۱
9     2003313079
10    4670261924
20    1292316586
Name: NationalCode, dtype: object

In [39]:
df.groupby('BookingStatus')['NationalCode'].max()

BookingStatus
1     6660647511
3     5670040384
4     ۶۱۵۹۴۸۰۷۶۶
7     ۰۳۷۱۱۶۸۳۸۴
9     2939892962
10    5710046914
11    2595825992
12    3801795871
14    ۰۸۹۰۳۰۲۴۰۵
Name: NationalCode, dtype: object

In [40]:
df.groupby('BookingStatus')['FullName'].max()

BookingStatus
1       ۼلامرضا سیادت زاده
3             یوسف رضاپور
4            گرشا همت افزا
7           یگانه  غزنه ئی
9            میلاد پورمجید
10          نرگس خرمی زاده
11                الی گرجی
12          یاسین چهاردولی
14    یزدان نامداری قرقانی
Name: FullName, dtype: object